<div *ngIf="screen === 1" style="height: 90vh">
  <div *ngIf="!loading" style="height: 90vh; z-index: 1;"
       leaflet
       [leafletOptions]="options" [leafletLayers]="layers" (leafletClick)="onClick($event)">
  </div>
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="screen === 2" style="height: 90vh">

  <h1>Persones properes</h1>

  <div *ngFor="let person of people">

  </div>

</div>

<div *ngIf="screen === 3" style="height: 90vh">

</div>

<div fxLayout="row" id="nav-bar">
  <button mat-button (click)="refreshMap()">
    <mat-icon class="nav-var-icon">map</mat-icon>
  </button>
  <button mat-button (click)="screen = 2">
    <mat-icon class="nav-var-icon">list</mat-icon>
  </button>
  <button mat-button (click)="screen = 3">
    <mat-icon class="nav-var-icon">person</mat-icon>
  </button>
</div>
